html * {
	font-family: sans-serif;
}

div {
	display: block;
}

body {
	background-color: white;
	padding-right: 50px;
	padding-left: 50px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

dl {
	display: block;
	margin: 1em 0;
}