.section {
	padding-top: 60px;
	margin-top: 40px;
}

.subsection {
	padding-top: 40px;
	margin-top: 20px;
}

.plot {
	text-align: center;
}

figcaption {
	display: block;
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.visible {
	opacity: 0.75;
}

.btn-btm-pg {
	margin-bottom: 40px;
}

.choroPath {
	stroke-opacity: 1;
	stroke-width: 0.5px;
	stroke: #3f007d;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.line {
	fill: none;
	stroke: #54278F;
	stroke-width: 1.5;
	opacity: 1;
}

.area {
	stroke: none;
    stroke-width: 0;
}

.area:hover {
	fill: #54278f;
}

.unclickable {
	pointer-events: none;
}

#choroDescrip {
	text-align: left;
}

#stackedAreaButton rect {
				fill: green;
}

#stackedAreaButton:hover rect {
				fill: red;
}

.pan rect {
	fill: black;
	opacity: 0.2;
}
/*
.button rect {
	stroke: #999faa;
	stroke-width: 2px;
}

.button rect.pressed {
	fill: #000f2b;
}

.button #gradient-start {
	stop-color: #999faa;
	stop-opacity: 1;
}

.button #gradient-stop {
	stop-color: #4d576b;
	stop-opacity: 1;
}

.button #gradient-start.active, .button #gradient-start.pressed {
	stop-color: #4d576b;
}

.button #gradient-stop.active, .button #gradient-stop.pressed {
	stop-color: #000f2b;
}

.button text {
	font-size: 30px;
	fill: #eee;
	pointer-events: none;
	text-anchor: middle;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
*/